:root {
  --color-brown-dark: #382110;
  --color-brown-mid: #7a6248;
  --color-brown-light: #c9b99a;
  --color-cream: #f4f1ea;
  --color-cream-dark: #e8ddd0;
}

body {
  background-color: var(--color-cream);
  color: var(--color-brown-dark);
  font-family: sans-serif;
}